@media (min-width: 992px) {
    .nav-menu a {
        width: 56px;
    }
    .nav-menu a span {
        display: none;
        color: var(--siteBgColor);
    }
    #hero {
        padding-left: 160px;
    }
    #main {
        margin-left: 100px;
    }
}